/*通用的样式*/
body{
    /*font-size: 13px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

@font-face {
    font-family: py;
    src: url("../fonts/lk.eot") format('embedded-opentype'),
    url("../fonts/lk.svg") format('svg'),
    url("../fonts/lk.ttf") format('truetype'),
    url("../fonts/lk.woff") format('woff');
}
/*将字体全局化，通配符匹配类名字符*/
/* ^= 只能匹配第一个class="icon-"
   *= 能匹配任意位置的类 class="contain icon-text"*/
[class^='icon-'],
[class*=' icon-']{
    font-family: py;
    font-style: normal;
}

.top-bar{
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 39px;
}
.row>div+div{
    border-left: 1px solid #e0e0e0;
}
.top-bar-1 a{
    position: relative;
}
.top-bar-1 a img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    margin-top: -13px;
    z-index: 9999;
}
.top-bar-1 a:hover img{
    display: block;
}
.icon-phone::before{
    content: '\e958';
    font-size: 13px;
}
.icon-tel::before{
    content: '\e942';
    font-size: 13px;
}

.nav-bar-lk{
    height: 70px;
    background-color: #fff;
    margin-bottom: 0;
}
.navbar-brand{
    padding: 10px 15px;
}
.navbar-nav a{
    height: 70px;
    line-height: 40px!important;
}
.active a, a:hover{
    background-color: transparent!important;
    /*border-bottom: 2px solid #0AB4F7;*/
}

.navbar-toggle{
    padding: 9px 10px;
    margin-top: 18px;
    margin-right: 15px;
    margin-bottom: 8px;
}

/*焦点图样式*/
.item{
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
@media screen and (min-width: 800px) {
    .item{
        height: 410px;
    }
}

/*关于我们*/
#lk_about{
    padding: 20px auto;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.row p{
    line-height: 29px;
    font-size: 15px;
}

/*產品特色*/
#lk_product{
    background-color: #f0f0f0;
    padding: 30px 0;
}
.nav{
    font-size: 18px;
}
.nav a{
    color: #999;
    border: none!important;
}
.nav li.active{
    background-color: transparent;
    border-bottom: 2px solid #0AB4F7;
    color: #000;
}

.tab-content{
    padding-top: 20px;
}
.pd-left{
    padding: 40px 0;
}
#pd-one-1{
    margin: 15px 0;
}
#pd-one-2{
    background-color: transparent;
}
#pd-one-2 li a{
    border-bottom: none;
}
#pd-one-4{
    margin: 15px 0;
}
#pd-two-1{
    padding: 150px 0;
}
#pd-two-1 h1{
    margin-bottom: 15px;
}

.lesson{
    padding: 15px 10px;
}
.media-left, .media-right{
    width: 20%;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
}
.lesson .media-body{
    width: 60%;
    vertical-align: middle;
}

.logos{
    list-style: none;
    text-align: center;
}
.logos li{
    display: inline-block;
    margin: 20px 19px;
}

/*尾部*/
#lk_footer{
    width: 100%;
    height: 200px;
    background: url("../imgs/ft_bg.png") no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ccc;
    font-size: 16px;
}
#lk_footer ul{
    list-style: none;
}
.one, .two{
    padding: 10px;

    border-left: none;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one ul li a{
    color: #ccc;
}
.three{
    height: 180px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.three a{
    margin-right: 15px;
    text-decoration: none;
}



.register {
color: #ffffff;
background-color: #0AB4F7;
border-color: #F4F6F7;
}

.register:hover,
.register:focus,
.register:active,
.register.active,
.open .dropdown-toggle.register {
color: #ffffff;
background-color: #086DF2;
border-color: #F4F6F7;
}

.register:active,
.register.active,
.open .dropdown-toggle.register {
background-image: none;
}

.register.disabled,
.register[disabled],
fieldset[disabled] .register,
.register.disabled:hover,
.register[disabled]:hover,
fieldset[disabled] .register:hover,
.register.disabled:focus,
.register[disabled]:focus,
fieldset[disabled] .register:focus,
.register.disabled:active,
.register[disabled]:active,
fieldset[disabled] .register:active,
.register.disabled.active,
.register[disabled].active,
fieldset[disabled] .register.active {
background-color: #0AB4F7;
border-color: #F4F6F7;
}

.register .badge {
color: #0AB4F7;
background-color: #ffffff;
}
